<%- include('./header.ejs')%>
    <link rel="stylesheet" href="/css/main.css">

    <div class="row">
        <%- include('./navbar.ejs')%>
            <div class="main-layout col-10 col-md-8 col-lg-6">
                <h1 class="fw-bold titleContainer">
                    <%=payLoad.displayName%>
                </h1>

                <div class="mb-3 postsContainer">

                </div>

            </div>
            <div class="sidebar d-none d-md-block col-md-2 col-lg-4">
                sidebar
            </div>

    </div>


    <%- include('../partials/header.ejs')%>