<%- include('./header.ejs')%>
    <link rel="stylesheet" href="/css/main.css">

    <div class="trending">
        <h1 class="fw-bold titleContainer">What's happening</h1>
    </div>
    <h1>

    </h1>

    <script>
        var api_key = '<%=process.env.api_key%>'
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/js/trending.js"></script>
    <%- include('../partials/footer.ejs')%>