<%- include('../partials/header.ejs')%>
    <link rel="stylesheet" href="/css/main.css">

    <div class="row">
        <%- include('../partials/navbar.ejs')%>
            <div class="main-layout col-10 col-md-8 col-lg-6">
                <h1 class="fw-bold titleContainer">Home</h1>

                <%- include('../partials/modal.ejs')%>


                    <div class="mb-3 postContainer">
                        <div class="userImageContainer">
                            <img src="/images/profilePic.jpeg" alt="user-profile-pic">
                        </div>
                        <div class="textareaContainer">
                            <textarea id="post-text" cols="30" rows="3" placeholder="What's happening ? "></textarea>
                            <button id="submitPostButton">Tweet</button>
                        </div>
                    </div>

                    <div class="mb-3 postsContainer">
                        <ul id="allTweets">
                        </ul>
                    </div>

            </div>
            <div class="sidebar d-none d-md-block col-md-2 col-lg-4">
                sidebar
            </div>

    </div>


    <%- include('../partials/header.ejs')%>