:root {
  --twitter-color: #0099ff;
  --lightBlue: #0d7dc4;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --like: rgb(224, 36, 94);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav a {
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(15, 20, 25);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  border-radius: 50%;
}

.main-layout {
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  max-width: 598px;
  height: 100vh;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}
.titleContainer h1 {
  flex: 1;
}

.postContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
  padding-left: 0px;
}
.userImageContainer {
  display: inline-block;
  width: 48px;
}
.userImageContainer img {
  width: 48px;
  border-radius: 50%;
  background-color: white;
}
.textareaContainer {
  margin-left: 16px;
  flex: 1;
}
.textareaContainer textarea {
  width: 100%;
  resize: none;
  border: none;
  font-size: 19px;
}

textarea:focus {
  outline: none;
}

#submitPostButton {
  background-color: var(--twitter-color);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
  font-weight: 700;
}
#submitPostButton:hover {
  background-color: var(--lightBlue);
}

.post {
  display: flex;
  flex-direction: row;
  /* margin: 0px 0px 16px; */
  border-bottom: 1px solid var(--lightGrey);
  padding-bottom: 12px;
  padding-top: 12px;
}

ul,
li {
  list-style-type: none;
}

.post a {
  text-decoration: none;
  color: #0f1419;
}
.post a:hover {
  text-decoration: underline;
  color: #0f1419;
}

.header a,
.header span {
  padding-right: 5px;
}

.postFooter {
  display: flex;
}

.postFooter button {
  margin-right: 100px;
}

.mainContentContainer {
  padding-left: 16px;
}

#allTweets {
  border-top: 1px solid var(--lightGrey);
  padding: 0px;
}

.postButtonContainer button {
  display: flex;
  border: none;
  background-color: white;
  width: auto;
}
.mt-small {
  margin-top: 6px;
}
.replyArea a {
  color: rgb(27, 149, 224);
}

.replyArea a:hover {
  color: rgb(27, 149, 224);
}

.fa-twitter {
  color: #0099ff;
}

.likeButton:hover > .fa-heart {
  background-color: rgba(224, 36, 94, 0.1);
  border-radius: 50%;
}
.likeButton:hover {
  color: rgb(224, 36, 94);
}

.reply:hover > .fa-comment {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 50%;
}
.reply:hover {
  color: rgba(29, 161, 242, 1);
}

.retweet:hover > .fa-retweet {
  background-color: rgba(23, 191, 99, 0.1);
  border-radius: 50%;
}
.retweet:hover {
  color: rgb(23, 191, 99);
}

.fa-heart,
.fa-comment,
.fa-retweet {
  width: 34.7px;
  height: 34.7px;
  padding-top: 10px;
}

.coverPic {
  background-color: var(--lightGrey);
  height: 15vw;
  width: 100%;
  min-height: 148.4px;
  max-height: 199.33px;
  position: relative;
}

.profile img {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  position: absolute;
  top: 180px;
  margin-left: 20px;
  border: 5px solid white;
}
.fs-big {
  font-size: 20px;
}

.blk {
  display: block;
}
.profileTextCont {
  margin-top: 50px;
  margin-left: 20px;
}

.postHeader {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.postHeader a {
  color: #536471;
  text-decoration: none;
  font-size: 15px;
}
.active {
  border-bottom: 5px solid rgba(29, 161, 242, 1);
}

.tab:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: rgba(29, 161, 242, 1);
}
