:root {
  --twitter-color: #0099ff;
  --lightBlue: #0d7dc4;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --like: rgb(224, 36, 94);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav a {
  padding: 10px;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(15, 20, 25);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  border-radius: 50%;
}

.main-layout {
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  max-width: 598px;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}
.titleContainer h1 {
  flex: 1;
}

.postContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
  padding-left: 0px;
}
.userImageContainer {
  display: inline-block;
  width: 48px;
}
.userImageContainer img {
  width: 48px;
  border-radius: 50%;
  background-color: white;
}
.textareaContainer {
  margin-left: 16px;
  flex: 1;
}
.textareaContainer textarea {
  width: 100%;
  resize: none;
  border: none;
  font-size: 19px;
}

textarea:focus {
  outline: none;
}

#submitPostButton {
  background-color: var(--twitter-color);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
  font-weight: 700;
}
#submitPostButton:hover {
  background-color: var(--lightBlue);
}

.post {
  display: flex;
  flex-direction: row;
  /* margin: 0px 0px 16px; */
  border-bottom: 1px solid var(--lightGrey);
  padding-bottom: 12px;
  padding-top: 12px;
}

ul {
  list-style-type: none;
}

.post a {
  text-decoration: none;
  color: #0f1419;
}
.post a:hover {
  text-decoration: underline;
  color: #0f1419;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.post .postFooter {
  display: flex;
  justify-content: space-between;
  max-width: 425px;
}

.mainContentContainer {
  padding-left: 16px;
}

#allTweets {
  border-top: 1px solid var(--lightGrey);
  padding: 0px;
}

button {
  border: none;
  background-color: white;
}

.replyArea a {
  color: rgb(27, 149, 224);
}

.replyArea a:hover {
  color: rgb(27, 149, 224);
}

.fa-twitter {
  color: #0099ff;
}
